.photo-grid__item {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1070px) {
  .photo-grid__item {
    max-width: 300px;
    max-height: 225px;
  }
}
@media screen and (max-width: 950px) {
  .photo-grid__item {
    max-width: 352px;
    max-height: 264px;
  }
}
@media screen and (max-width: 750px) {
  .photo-grid__item {
    max-width: 288px;
    max-height: 216px;
  }
}
