.footer__copyrigt {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
@media screen and (max-width: 750px) {
  .footer__copyrigt {
    margin-top: 48px;
    font-size: 14px;
    line-height: 14px;
  }
}
