.lead__image-text {
  margin-left: 0;
  margin-right: 0;
  margin-top: 8px;
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .lead__image-text {
    margin-left: 24px;
  }
}
@media screen and (max-width: 750px) {
  .lead__image-text {
    margin-left: 16px;
  }
}
