.place__url-heading {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 12px;
  color: #AAAAAA;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 750px) {
  .place__url-heading {
    width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}
